
html,
 body {
    padding-top: 35px;
    padding-bottom: 10px
}

/* .mainContent {
  
} */

.header {
    background-color: white;
    min-height:80px;
    
}

.footer{
    text-align: center;
    background-color: white;
    min-height: 20px;
} */

  .barContainer{
    border: 100px solid #000000;
     height: 45px;
      display: block;
       width:100%;
  }
  .bar{
    display: inline-block;
    align-items: center;
    width:.621%;
    height: 45px;
  }
  .bartooltiptext {
    align-items: end;
    width: fit-content;
    display: flex;
    visibility: hidden;
    transform:translate(-50%,-120%);
    padding:10px 20px;
    background-color: black;
    color: #fff;
    z-index: 1;
  }
  .bar .bartooltiptext::after {
    transform:translate(-65%,120%);
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .flip {
    
    animation: flip-icon 0.3s ease-in-out;

}
  
  @keyframes flip-icon {
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
  
  .bartooltip:hover .bartooltiptext {
    visibility: visible;
  }

.uisptoolslogo {
    padding: 0px;
}